.colored_table.colored_table_object thead tr .property {
    color:black;
    font-weight: 700;
}

.colored_table.colored_table_object thead tr .price_th {
    color:black;
    font-weight: 700;
}

.slides {
    position: relative;
    top: -135px;
}

.img_wrapper .wrapp_thumbs {
    position: relative;
    top: -196px;
}


.tabs_slider.RECOMENDATION_slides.slides.catalog_block {
    position: relative;
    top: 0px;

}

.counter_block.big_basket {
display:none;
}



.catalog_detail.detail.element_2 .item_main_info .item_slider .slides ul li {
    position: relative!important;
    height: 300px!important;

}


.catalog_detail .item_main_info .right_info {
    padding: 0 0 0 0!important;
    position: relative!important;
}

.right_block .slides ul li:before{
    display:none!important;
}

.catalog_detail .item_main_info .item_slider {
    width: 100%!important;
}


.item_slider .slides {

    max-width: unset!important;

}


.slides > ul {
    display:flex!important;
    flex-wrap:wrap!important;
}


.slides > ul > li {
    flex:1 300px!important;
    margin: 0 27px!important;
}



.wrapp_thumbs.xzoom-thumbs {
    display:none!important;
}
.sidepic {
    font-size: 26px!important;
}
.ribbon {
    color: white;
    z-index: 99;
    position: absolute;
    right: 0;
    background-color: #e65100;
    height: 32px;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    -webkit-transform: translate3d(40px, 40px, 0) rotate(45deg) scale(1);
    transform: translate3d(83px, 5px, 0) rotate(45deg) scale(1);
    /* -webkit-animation-name: rotatedScalingSlideIn;
     animation-name: rotatedScalingSlideIn;
     -webkit-animation-duration: 600ms;
     animation-duration: 600ms;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-timing-function: ease-in;
     animation-timing-function: ease-in;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;*/

    /*test*/
}

@-webkit-keyframes rotatedScalingSlideIn {
    0% {
        -webkit-transform: translate3d(-100px, -100px, 0) rotate(45deg) scale(0);
        transform: translate3d(-100px, -100px, 0) rotate(45deg) scale(0);
    }
    100% {
        -webkit-transform: translate3d(40px, 40px, 0) rotate(45deg) scale(1);
        transform: translate3d(40px, 40px, 0) rotate(45deg) scale(1);
    }
}

@keyframes rotatedScalingSlideIn {
    0% {
        -webkit-transform: translate3d(-100px, -100px, 0) rotate(45deg) scale(0);
        transform: translate3d(-100px, -100px, 0) rotate(45deg) scale(0);
    }
    100% {
        -webkit-transform: translate3d(40px, 40px, 0) rotate(45deg) scale(1);
        transform: translate3d(40px, 40px, 0) rotate(45deg) scale(1);
    }
}

@media (max-width: 1121px) {
    .slides > ul > li {
        flex: 0 300px!important;
        margin: 0 27px!important;
    }
}


@media (max-width: 600px) {
.container .catalog_detail .item_slider .slides {
    margin-bottom: 30px;
    position: relative;
    top: -17px;
}


}